@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .link-btn {
    @apply p-2 text-white underline  inline-block border-blue-600 text-blue-600 border rounded-lg;
  }
  
  .btn {
    @apply p-2 bg-blue-800 text-white shadow inline-block rounded-lg;
  }
}

[data-re-earthbar-panel-portal] {
  position: absolute;
  z-index: 99999999;
  width: 100%;
}

.app-height {
  height: calc(100vh - 52px);
}